<div class='card'>
  <div class='card-body'>
    <h5 class='card-title'>Sorry, but this link doesn't exist</h5>
    <div class='card-text'>
      Try to create a <%= link_to "valid link", links_path %>
    </div>
  </div>
</div>